%h1 New player

= render 'form'

= link_to 'Back', players_path

:javascript
  $(function() {
    $.ajax({
      url: "/teams.xml",
      dataType: "xml",
      success: function(response){
        var data = $("team", response).map(function() {
          return {
            value: $("name", this).text(),
            id: $("id", this).text()
          };
        }).get();
        $('#player_team').autocomplete({
          source: data,
          minLength: 1,
          select: function(event, ui) {
            $('#player_team_id').attr('value', ui.item.id); 
          }
        });
      }
    });
  });

